In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Data Preprocessing

In [26]:
df=pd.read_csv("./Crime_Data_from_2020_to_Present.csv")
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784201,231604807,01/27/2023 12:00:00 AM,01/26/2023 12:00:00 AM,1800,16,Foothill,1663,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,12500 BRANFORD ST,NaN,34.2466,-118.4054
784202,231606525,03/22/2023 12:00:00 AM,03/22/2023 12:00:00 AM,1000,16,Foothill,1602,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,12800 FILMORE ST,NaN,34.2790,-118.4116
784203,231210064,04/12/2023 12:00:00 AM,04/12/2023 12:00:00 AM,1630,12,77th Street,1239,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,6100 S VERMONT AV,NaN,33.9841,-118.2915
784204,230115220,07/02/2023 12:00:00 AM,07/01/2023 12:00:00 AM,1,1,Central,154,1,352,PICKPOCKET,...,IC,Invest Cont,352.0,NaN,NaN,NaN,500 S MAIN ST,NaN,34.0467,-118.2485
784205,230906458,03/05/2023 12:00:00 AM,03/05/2023 12:00:00 AM,900,9,Van Nuys,914,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,14500 HARTLAND ST,NaN,34.1951,-118.4487

In [27]:
df.shape

(784206, 28)

In [28]:
df.dtypes

DR_NO               int64
Date Rptd          object
DATE OCC           object
TIME OCC            int64
AREA                int64
AREA NAME          object
Rpt Dist No         int64
Part 1-2            int64
Crm Cd              int64
Crm Cd Desc        object
Mocodes            object
Vict Age            int64
Vict Sex           object
Vict Descent       object
Premis Cd         float64
Premis Desc        object
Weapon Used Cd    float64
Weapon Desc        object
Status             object
Status Desc        object
Crm Cd 1          float64
Crm Cd 2          float64
Crm Cd 3          float64
Crm Cd 4          float64
LOCATION           object
Cross Street       object
LAT               float64
LON               float64
dtype: object

In [29]:
df.drop_duplicates(inplace=True)
df.shape

(784206, 28)

In [30]:
null_value_percentages=(df.isna().sum()/df.shape[0])*100
null_value_percentages

DR_NO              0.000000
Date Rptd          0.000000
DATE OCC           0.000000
TIME OCC           0.000000
AREA               0.000000
AREA NAME          0.000000
Rpt Dist No        0.000000
Part 1-2           0.000000
Crm Cd             0.000000
Crm Cd Desc        0.000000
Mocodes           13.772019
Vict Age           0.000000
Vict Sex          13.114029
Vict Descent      13.115049
Premis Cd          0.001148
Premis Desc        0.059423
Weapon Used Cd    65.219598
Weapon Desc       65.219598
Status             0.000000
Status Desc        0.000000
Crm Cd 1           0.001275
Crm Cd 2          92.622857
Crm Cd 3          99.753764
Crm Cd 4          99.992732
LOCATION           0.000000
Cross Street      83.970411
LAT                0.000000
LON                0.000000
dtype: float64

In [31]:
df["Vict Sex"].unique()

array(['F', 'M', 'X', nan, 'H', '-'], dtype=object)

In [32]:
columns_with_null_values = null_value_percentages[null_value_percentages>0]
columns_with_null_values

Mocodes           13.772019
Vict Sex          13.114029
Vict Descent      13.115049
Premis Cd          0.001148
Premis Desc        0.059423
Weapon Used Cd    65.219598
Weapon Desc       65.219598
Crm Cd 1           0.001275
Crm Cd 2          92.622857
Crm Cd 3          99.753764
Crm Cd 4          99.992732
Cross Street      83.970411
dtype: float64

In [33]:
df["Vict Descent"].unique()

array(['B', 'H', 'X', 'W', 'A', 'O', nan, 'C', 'F', 'K', 'I', 'V', 'Z',
       'J', 'P', 'G', 'U', 'D', 'S', 'L', '-'], dtype=object)

In [34]:
columns_to_drop=null_value_percentages[null_value_percentages>40]
columns_to_drop=columns_to_drop.keys()
print(columns_to_drop)
df=df.drop(columns_to_drop, axis=1)
df

Index(['Weapon Used Cd', 'Weapon Desc', 'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4',
       'Cross Street'],
      dtype='object')

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Status,Status Desc,Crm Cd 1,LOCATION,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,F,B,501.0,SINGLE FAMILY DWELLING,AO,Adult Other,624.0,1100 W 39TH PL,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,M,H,102.0,SIDEWALK,IC,Invest Cont,624.0,700 S HILL ST,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,X,X,726.0,POLICE FACILITY,AA,Adult Arrest,845.0,200 E 6TH ST,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,F,W,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",IC,Invest Cont,745.0,5400 CORTEEN PL,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,X,X,409.0,BEAUTY SUPPLY STORE,IC,Invest Cont,740.0,14400 TITUS ST,34.2198,-118.4468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784201,231604807,01/27/2023 12:00:00 AM,01/26/2023 12:00:00 AM,1800,16,Foothill,1663,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,M,H,122.0,"VEHICLE, PASSENGER/TRUCK",IC,Invest Cont,740.0,12500 BRANFORD ST,34.2466,-118.4054
784202,231606525,03/22/2023 12:00:00 AM,03/22/2023 12:00:00 AM,1000,16,Foothill,1602,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,F,H,102.0,SIDEWALK,IC,Invest Cont,230.0,12800 FILMORE ST,34.2790,-118.4116
784203,231210064,04/12/2023 12:00:00 AM,04/12/2023 12:00:00 AM,1630,12,77th Street,1239,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,M,B,222.0,LAUNDROMAT,IC,Invest Cont,230.0,6100 S VERMONT AV,33.9841,-118.2915
784204,230115220,07/02/2023 12:00:00 AM,07/01/2023 12:00:00 AM,1,1,Central,154,1,352,PICKPOCKET,...,F,H,735.0,NIGHT CLUB (OPEN EVENINGS ONLY),IC,Invest Cont,352.0,500 S MAIN ST,34.0467,-118.2485
784205,230906458,03/05/2023 12:00:00 AM,03/05/2023 12:00:00 AM,900,9,Van Nuys,914,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,F,H,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",IC,Invest Cont,745.0,14500 HARTLAND ST,34.1951,-118.4487

Data Formatting for Treemap Visualizations

In [35]:
import json

Area Treemap

In [36]:
Treemap1={
    'name' : "Root",
    'children': [
        {
            'name' : "North LA",
            'children' : []
        },
        {
            'name': "South LA",
            'children' : [] 
        }
    ]
}
North_LA=['N Hollywood','Foothill','Mission','Devonshire','Topanga','West Valley','Van Nuys']
South_LA=[x for x in df['AREA NAME'].unique() if x not in North_LA]

for val in North_LA:
    counter=df['AREA NAME'].value_counts()[val]
    Treemap1['children'][0]['children'].append({
        'name' : val,
        'value' : str(counter)
    })

for val in South_LA:
    counter=df['AREA NAME'].value_counts()[val]
    Treemap1['children'][1]['children'].append({
        'name' : val,
        'value' : str(counter)
    })

Treemap1

{'name': 'Root',
 'children': [{'name': 'North LA',
   'children': [{'name': 'N Hollywood', 'value': '38980'},
    {'name': 'Foothill', 'value': '26415'},
    {'name': 'Mission', 'value': '31218'},
    {'name': 'Devonshire', 'value': '31769'},
    {'name': 'Topanga', 'value': '31821'},
    {'name': 'West Valley', 'value': '32809'},
    {'name': 'Van Nuys', 'value': '33318'}]},
  {'name': 'South LA',
   'children': [{'name': 'Southwest', 'value': '43836'},
    {'name': 'Central', 'value': '52662'},
    {'name': 'Northeast', 'value': '33881'},
    {'name': 'Harbor', 'value': '32502'},
    {'name': 'West LA', 'value': '35996'},
    {'name': 'Wilshire', 'value': '37161'},
    {'name': 'Pacific', 'value': '45857'},
    {'name': 'Rampart', 'value': '36282'},
    {'name': '77th Street', 'value': '49641'},
    {'name': 'Hollenbeck', 'value': '29424'},
    {'name': 'Southeast', 'value': '40132'},
    {'name': 'Hollywood', 'value': '41661'},
    {'name': 'Newton', 'value': '39133'},
    {'name': 'Olympic', 'value': '39708'}]}]}

In [37]:
with open("Treemap1.json", "w") as outfile: 
    json.dump(Treemap1, outfile)

Date of Occurance Treemap

In [40]:
Treemap2={
    "name" : "Root",
    "children" : []
}
for x in ['2020','2021','2022','2023']:
    Treemap2['children'].append({
        'name': x,
        'children' : []
    })

for p,y in enumerate(['2020','2021','2022','2023']):
    Months=[]
    Conversion={}
    for i in range(1,13):
        if(i<10):
            Months.append({'name' : '0'+str(i), 'value' : '0'})
        else :
            Months.append({'name': str(i), 'value' : '0'})

    for x in df['DATE OCC']:
        spliting=x.split('/')
        if(y in spliting[2]):
            for x in Months:
                if x['name'] == spliting[0]:
                    x['value']=str(int(x['value'])+1)
    
    Conversion['01']='January'
    Conversion['02']='February'
    Conversion['03']='March'
    Conversion['04']='April'
    Conversion['05']='May'
    Conversion['06']='June'
    Conversion['07']='July'
    Conversion['08']='August'
    Conversion['09']='September'
    Conversion['10']='October'
    Conversion['11']='November'
    Conversion['12']='December'

    for x in Months:
        x['name']=Conversion[x['name']]
    Treemap2['children'][p]['children']=Months

Treemap2

{'name': 'Root',
 'children': [{'name': '2020',
   'children': [{'name': 'January', 'value': '18475'},
    {'name': 'February', 'value': '17251'},
    {'name': 'March', 'value': '16154'},
    {'name': 'April', 'value': '15676'},
    {'name': 'May', 'value': '17197'},
    {'name': 'June', 'value': '17021'},
    {'name': 'July', 'value': '17108'},
    {'name': 'August', 'value': '16863'},
    {'name': 'September', 'value': '15623'},
    {'name': 'October', 'value': '16478'},
    {'name': 'November', 'value': '15565'},
    {'name': 'December', 'value': '15935'}]},
  {'name': '2021',
   'children': [{'name': 'January', 'value': '16520'},
    {'name': 'February', 'value': '15398'},
    {'name': 'March', 'value': '16308'},
    {'name': 'April', 'value': '16045'},
    {'name': 'May', 'value': '16979'},
    {'name': 'June', 'value': '17140'},
    {'name': 'July', 'value': '18650'},
    {'name': 'August', 'value': '18360'},
    {'name': 'September', 'value': '18340'},
    {'name': 'October', 'value': '19281'},
    {'name': 'November', 'value': '18324'},
    {'name': 'December', 'value': '17907'}]},
  {'name': '2022',
   'children': [{'name': 'January', 'value': '18418'},
    {'name': 'February', 'value': '17678'},
    {'name': 'March', 'value': '19678'},
    {'name': 'April', 'value': '19765'},
    {'name': 'May', 'value': '20388'},
    {'name': 'June', 'value': '20171'},
    {'name': 'July', 'value': '19916'},
    {'name': 'August', 'value': '20039'},
    {'name': 'September', 'value': '19217'},
    {'name': 'October', 'value': '20205'},
    {'name': 'November', 'value': '18626'},
    {'name': 'December', 'value': '19843'}]},
  {'name': '2023',
   'children': [{'name': 'January', 'value': '19507'},
    {'name': 'February', 'value': '18206'},
    {'name': 'March', 'value': '18909'},
    {'name': 'April', 'value': '18605'},
    {'name': 'May', 'value': '18502'},
    {'name': 'June', 'value': '18149'},
    {'name': 'July', 'value': '18833'},
    {'name': 'August', 'value': '10953'},
    {'name': 'September', 'value': '0'},
    {'name': 'October', 'value': '0'},
    {'name': 'November', 'value': '0'},
    {'name': 'December', 'value': '0'}]}]}

In [41]:
with open("Treemap2.json", "w") as outfile: 
    json.dump(Treemap2, outfile)

Type of Crime Treemap

In [52]:
Treemap3={
    "name" : "Root",
    "children" : [{
        'name' : 'OTHERS',
        'value' : '95334'
    },{
        'name' : 'VEHICLE-STOLEN',
        'value' : '84390'
    },{
        'name' : 'ROBBERY',
        'value' : '27003'
    },
    {
        'name' : 'TRESPASSING',
        'value' : '10957'
    }
    ]
}
THEFT=['THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)','THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)','THEFT OF IDENTITY','THEFT PLAIN - PETTY ($950 & UNDER)', 'THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD', 'THEFT, PERSON']
BURGLARY=['BURGLARY','BURGLARY FROM VEHICLE','BURGLARY, ATTEMPTED']
VANDALISM=['VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)', 'VANDALISM - MISDEAMEANOR ($399 OR UNDER)']
BATTERY=['BATTERY - SIMPLE ASSAULT','BATTERY ON A FIREFIGHTER','BATTERY POLICE (SIMPLE)','BATTERY WITH SEXUAL CONTACT']
SEX_CRIMES=['INTIMATE PARTNER - AGGRAVATED ASSAULT','INTIMATE PARTNER - SIMPLE ASSAULT','RAPE, FORCIBLE','SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ','SEXUAL PENETRATION W/FOREIGN OBJECT']
ASSAULT=['ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER','ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT','OTHER ASSAULT']
SHOPLIFTING=['SHOPLIFTING - PETTY THEFT ($950 & UNDER)','SHOPLIFTING-GRAND THEFT ($950.01 & OVER)']
CHILDABUSE=['CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT','CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT','CHILD PORNOGRAPHY']

Counts=[]
for x in THEFT:
    Counts.append(
        {
            'name' : x,
            'value' : str(df['Crm Cd Desc'].value_counts()[x])
        }
    )

Treemap3['children'].append({
    'name' : 'THEFT',
    'children' : Counts
})

Counts=[]
for x in BURGLARY:
    Counts.append(
        {
            'name' : x,
            'value' : str(df['Crm Cd Desc'].value_counts()[x])
        }
    )
Treemap3['children'].append({
    'name' : 'BURGLARY',
    'children' : Counts
})

Counts=[]
for x in VANDALISM:
    Counts.append(
        {
            'name' : x,
            'value' : str(df['Crm Cd Desc'].value_counts()[x])
        }
    )

Treemap3['children'].append({
    'name' : 'VANDALISM',
    'children' : Counts
})

Counts=[]
for x in BATTERY:
    Counts.append(
        {
            'name' : x,
            'value' : str(df['Crm Cd Desc'].value_counts()[x])
        }
    )

Treemap3['children'].append({
    'name' : 'BATTERY',
    'children' : Counts
})

Counts=[]
for x in SEX_CRIMES:
    Counts.append(
        {
            'name' : x,
            'value' : str(df['Crm Cd Desc'].value_counts()[x])
        }
    )

Treemap3['children'].append({
    'name' : 'SEX CRIMES',
    'children' : Counts
})

Counts=[]
for x in ASSAULT:
    Counts.append(
        {
            'name' : x,
            'value' : str(df['Crm Cd Desc'].value_counts()[x])
        }
    )

Treemap3['children'].append({
    'name' : 'ASSAULT',
    'children' : Counts
})


Counts=[]
for x in SHOPLIFTING:
    Counts.append(
        {
            'name' : x,
            'value' : str(df['Crm Cd Desc'].value_counts()[x])
        }
    )

Treemap3['children'].append({
    'name' : 'SHOPLIFTING',
    'children' : Counts
})

Counts=[]
for x in CHILDABUSE:
    Counts.append(
        {
            'name' : x,
            'value' : str(df['Crm Cd Desc'].value_counts()[x])
        }
    )

Treemap3['children'].append({
    'name' : 'CHILDABUSE',
    'children' : Counts
})

Treemap3

{'name': 'Root',
 'children': [{'name': 'OTHERS', 'value': '95334'},
  {'name': 'VEHICLE-STOLEN', 'value': '84390'},
  {'name': 'ROBBERY', 'value': '27003'},
  {'name': 'TRESPASSING', 'value': '10957'},
  {'name': 'THEFT',
   'children': [{'name': 'THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)',
     'value': '28729'},
    {'name': 'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)',
     'value': '30489'},
    {'name': 'THEFT OF IDENTITY', 'value': '50225'},
    {'name': 'THEFT PLAIN - PETTY ($950 & UNDER)', 'value': '39993'},
    {'name': 'THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD',
     'value': '25333'},
    {'name': 'THEFT, PERSON', 'value': '3521'}]},
  {'name': 'BURGLARY',
   'children': [{'name': 'BURGLARY', 'value': '47697'},
    {'name': 'BURGLARY FROM VEHICLE', 'value': '48218'},
    {'name': 'BURGLARY, ATTEMPTED', 'value': '3257'}]},
  {'name': 'VANDALISM',
   'children': [{'name': 'VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)',
     'value': '47978'},
    {'name': 'VANDALISM - MISDEAMEANOR ($399 OR UNDER)', 'value': '21237'}]},
  {'name': 'BATTERY',
   'children': [{'name': 'BATTERY - SIMPLE ASSAULT', 'value': '62214'},
    {'name': 'BATTERY ON A FIREFIGHTER', 'value': '215'},
    {'name': 'BATTERY POLICE (SIMPLE)', 'value': '2164'},
    {'name': 'BATTERY WITH SEXUAL CONTACT', 'value': '3470'}]},
  {'name': 'SEX CRIMES',
   'children': [{'name': 'INTIMATE PARTNER - AGGRAVATED ASSAULT',
     'value': '10719'},
    {'name': 'INTIMATE PARTNER - SIMPLE ASSAULT', 'value': '39509'},
    {'name': 'RAPE, FORCIBLE', 'value': '3112'},
    {'name': 'SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ',
     'value': '847'},
    {'name': 'SEXUAL PENETRATION W/FOREIGN OBJECT', 'value': '1115'}]},
  {'name': 'ASSAULT',
   'children': [{'name': 'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER',
     'value': '971'},
    {'name': 'ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT',
     'value': '45108'},
    {'name': 'OTHER ASSAULT', 'value': '3644'}]},
  {'name': 'SHOPLIFTING',
   'children': [{'name': 'SHOPLIFTING - PETTY THEFT ($950 & UNDER)',
     'value': '17618'},
    {'name': 'SHOPLIFTING-GRAND THEFT ($950.01 & OVER)', 'value': '3710'}]},
  {'name': 'CHILDABUSE',
   'children': [{'name': 'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT',
     'value': '522'},
    {'name': 'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT', 'value': '2921'},
    {'name': 'CHILD PORNOGRAPHY', 'value': '210'}]}]}

In [ ]:
with open("Treemap3.json", "w") as outfile: 
    json.dump(Treemap3, outfile)